ACTION=="add|change", SUBSYSTEM=="net", ATTR{type}=="280", RUN+="/sbin/ip link set %k type can bitrate 1000000"
ACTION=="add|change", SUBSYSTEM=="net", ATTR{type}=="280", RUN+="/sbin/ip link set %k up"
ACTION=="add|change", SUBSYSTEM=="net", KERNEL=="can*", ATTR{tx_queue_len}="128"