# DO NOT REMOVE THIS FILE

[web]
# Web interface frontend: fluidd, mainsail
frontend: fluidd
# Enable access at http://<printer-ip>/firmware-config/: true, false
firmware_config: true
# Enable access at http://<printer-ip>/screen/: true, false
remote_screen: false

[camera]
# Internal (Case) camera options: paxx12, snapmaker, none
internal: paxx12
# Internal (Case) camera resolution/framerate preset, resolution is always 1080p: 1080p30, 1080p25, 1080p15, 1080p5
# internal_resolution: 1080p25
# External (USB) camera options: paxx12, none
usb: none
# External (USB) camera resolution/framerate preset: 1080p30, 1080p25, 1080p5, 720p30, 720p25, 720p5, 360p30, 360p25, 360p5
# usb_resolution: 1080p25
# Enable RTSP streaming server: true, false
rtsp: false

[components]
# Filament tag detection: external, snapmaker, openrfid, openrfid-generic
# rfid: snapmaker

[remote_access]
# Enable SSH access: true, false
ssh: false
# VPN provider for remote access: none, tailscale
# Must SSH and run "tailscale up" to complete login flow
vpn: none
# Cloud: none, octoeverywhere
# - none - No cloud services enabled.
# - octoeverywhere - OctoEverywhere.com cloud-based remote access service
cloud: none

[monitoring]
# Enable Klipper Prometheus exporter on specified address
# klipper_exporter: :9101

# Spoolman server URL for filament tracking; managed via firmware-config.
# Example: host: http://192.168.1.100:7912
[spoolman]
